{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
{% load static %}
<div style="background-color: rgba(12,18,23,1);  width: 100%; height: 700px;">
    <div style="color: aliceblue; margin-bottom: 40px;"><center><h1>About Us</h1></center></div>
<div style="width: 50%; float: left; color: aliceblue; margin-top: 30px;">
    <h5>This page is created by a person named Akash Mandela(21-B-CSE-004).i created this project to check my skills in django.This is a website model for a game dawnloading website.Where a person can dawnload a game easily.He can access any type of game by its type.The client just need to select the type of the game and all the games of that type will be displayed.</h5>
</div>
<div>
    <img src="{% static 'contact.png'%}" alt="" height="400px" width="600px">
</div>
</div>
{% endblock body %}
